In [2]:
import pandas as pd
df = pd.read_csv("salaries_by_college_major.csv")
df.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

In [3]:
df.shape

(51, 6)

In [6]:
df.tail()
clean_df = df.dropna()
clean_df.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
45,Political Science,40800.0,78200.0,41200.0,168000.0,HASS
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS

In [9]:
clean_df['Starting Median Salary'].idxmax()

43

In [11]:
clean_df['Undergraduate Major'].loc[43]

'Physician Assistant'

In [20]:
clean_df['Starting Median Salary'].idxmin()
clean_df['Undergraduate Major'][49]
clean_df.loc[49]

Undergraduate Major                  Spanish
Starting Median Salary               34000.0
Mid-Career Median Salary             53100.0
Mid-Career 10th Percentile Salary    31000.0
Mid-Career 90th Percentile Salary    96400.0
Group                                   HASS
Name: 49, dtype: object

In [12]:
clean_df.loc[43]

Undergraduate Major                  Physician Assistant
Starting Median Salary                           74300.0
Mid-Career Median Salary                         91700.0
Mid-Career 10th Percentile Salary                66400.0
Mid-Career 90th Percentile Salary               124000.0
Group                                               STEM
Name: 43, dtype: object

In [21]:
clean_df['Mid-Career Median Salary'].idxmax()
clean_df['Undergraduate Major'][8]
clean_df.loc[8]

Undergraduate Major                  Chemical Engineering
Starting Median Salary                            63200.0
Mid-Career Median Salary                         107000.0
Mid-Career 10th Percentile Salary                 71900.0
Mid-Career 90th Percentile Salary                194000.0
Group                                                STEM
Name: 8, dtype: object

In [22]:
id = clean_df['Mid-Career Median Salary'].idxmin()
clean_df.loc[id]

Undergraduate Major                  Education
Starting Median Salary                 34900.0
Mid-Career Median Salary               52000.0
Mid-Career 10th Percentile Salary      29300.0
Mid-Career 90th Percentile Salary     102000.0
Group                                     HASS
Name: 18, dtype: object

In [31]:
# res = clean_df['Mid-Career 90th Percentile Salary']- clean_df['Mid-Career 10th Percentile Salary']
# same as upon
res =clean_df['Mid-Career 90th Percentile Salary'].subtract(clean_df['Mid-Career 10th Percentile Salary'])

# clean_df.insert(1,'Spread', res)
clean_df.columns

Index(['Undergraduate Major', 'Spread', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

In [34]:
low_risk = clean_df.sort_values("Spread",ascending=True)
low_risk[['Undergraduate Major','Spread']].head()

           Undergraduate Major   Spread
40                     Nursing  50700.0
43         Physician Assistant  57600.0
41                   Nutrition  65300.0
49                     Spanish  65400.0
27  Health Care Administration  66400.0

In [35]:
high_protential = clean_df.sort_values("Mid-Career 90th Percentile Salary",ascending=False)
high_protential[['Undergraduate Major','Mid-Career 90th Percentile Salary']].head()

     Undergraduate Major  Mid-Career 90th Percentile Salary
17             Economics                           210000.0
22               Finance                           195000.0
8   Chemical Engineering                           194000.0
37                  Math                           183000.0
44               Physics                           178000.0

In [38]:
high_dif = clean_df.sort_values("Spread",ascending=False)
high_dif[['Undergraduate Major','Spread']].head()

   Undergraduate Major    Spread
17           Economics  159400.0
22             Finance  147800.0
37                Math  137800.0
36           Marketing  132900.0
42          Philosophy  132500.0

In [39]:
clean_df.groupby('Group').count()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,,
Business,12,12,12,12,12,12
HASS,22,22,22,22,22,22
STEM,16,16,16,16,16,16

In [42]:
pd.options.display.float_format = '{:,.2f}'.format 
clean_df.groupby('Group').mean()

,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,
Business,"103,958.33","44,633.33","75,083.33","43,566.67","147,525.00"
HASS,"95,218.18","37,186.36","62,968.18","34,145.45","129,363.64"
STEM,"101,600.00","53,862.50","90,812.50","56,025.00","157,625.00"

In [49]:
import time
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium import webdriver

driver = webdriver.Chrome()

driver.get("https://www.payscale.com/college-salary-report/majors-that-pay-you-back/bachelors")

time.sleep(5)

result = driver.find_elements(By.TAG_NAME,'tr')

for i in result:
    print(i.text)
driver.quit()

Rank Major Degree Type Early Career Pay
Mid-Career Pay
% High Meaning
1
Petroleum Engineering
Bachelors $93,200 $187,300 67%
2
Operations Research & Industrial Engineering
Bachelors $84,800 $170,400 28%
3
Electrical Engineering & Computer Science (EECS)
Bachelors $108,500 $159,300 46%
4
Interaction Design
Bachelors $68,300 $155,800 55%
5
Public Accounting
Bachelors $59,800 $147,700 47%
6
Operations Research
Bachelors $83,500 $147,400 54%
7
Applied Economics and Management
Bachelors $66,100 $146,400 67%
8
Business Computing (BC)
Bachelors $73,000 $143,600 -
9
Actuarial Mathematics
Bachelors $64,300 $143,400 51%
10
Electrical Power Engineering
Bachelors $76,100 $142,600 68%
11
Information & Computer Science
Bachelors $58,600 $140,900 62%
12
Aeronautics & Astronautics
Bachelors $77,600 $139,600 56%
13
Systems Engineering
Bachelors $77,700 $139,200 53%
14
Econometrics
Bachelors $64,200 $139,000 35%
15
Pharmacy
Bachelors $68,600 $138,700 78%
16
Aerospace Studies
Bachelors $55,800 $136,600 -
17
Building Science
Bachelors $53,800 $135,900 53%
17
Chemical Engineering
Bachelors $76,900 $135,900 55%
19
Cognitive Science
Bachelors $68,700 $135,200 42%
20
Actuarial Science
Bachelors $67,700 $134,400 43%
21
Political Economy
Bachelors $65,100 $133,500 29%
22
Computer Systems Engineering
Bachelors $79,000 $133,200 51%
23
Electrical & Computer Engineering (ECE)
Bachelors $78,100 $131,600 49%
24
Computer Science (CS) & Engineering
Bachelors $79,400 $131,300 44%
24
Marine Engineering
Bachelors $79,900 $131,300 60%